include ./mixins/marquee.pug

html(lang="en") 
	head 
		meta(charset="utf-8")
		meta(lang="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		
		meta(name="theme-color" content="#dbdbd6")
		
		title!= title
		meta(name="author" content="Aarush Kumbhakern")
		meta(name="description", content="Aarush Kumbhakern's personal website")

		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet")

		block stylesheets
			link(rel="stylesheet", href="/stylesheets/reset.css")
			link(rel="stylesheet", href="/stylesheets/main.css")
			link(rel="stylesheet", href="/stylesheets/garamond.css")
			link(rel="stylesheet", href="/stylesheets/flexbox.css")
			link(rel="stylesheet", href="/stylesheets/layout.css")
			link(rel="stylesheet", href="/stylesheets/forms.css")

		block scripts
			if jump
				script.
					window.onload = window.location.hash = "#{jump}";
		
			script(type="text/javascript", src="/javascripts/forms.js", defer)

		script: let FF_FOUC_FIX;

	body#top
		block controlvars 

		#Page 
			header#Topbar
				#Hero.Flexbox.mSpaceBtwn
					div.iAlignBtm
						.name.tSmall Aarush Kumbhakern's
						.title Apricity

					#Authentication.Box.iAlignTop
						if user
							.Flexbox.mCol.mMinSpacing
								.Flexbox.mMinspacing
									a(href="/account") Account

									form#Logout(action=`/logout?next=${url}`, method="post").iAlignRight
										button(type="submit").mTiny.mDanger Log Out
							
								#Username.Flexbox
									i.tSmall.tGray Hello,&nbsp;&nbsp;
									+Marquee: i.tSmall.tGray= user.username
						
						else
							div #[a(href=`/login?next=${url}`): b Log In] / #[a(href=`/register?next=${url}`) Register]
				
				#Definition.tSmall.tGray #[b A·pri·ci·ty] #[span.phonetic [əpɹɪsəti]] #[i n.] The warmth of the winter sun.


			#Navbar.Flexbox.mCol.mCmpSpacing
				nav#Sitenav.Box.mRoomy 
					.label Navigate

					.links.Flexbox.mMinSpacing
						a(href="/") Home
						a(href="/notes") Notes
						a(href="/about") About
						a(href="/now") Now

				if jumpers
					#Jumper.Box.mRoomy
						.label Jump
						.links.Flexbox.mMinSpacing: block jumpers

				if actions && user && user.roles.includes("superuser")
					#Actions.Box.mRoomy
						.label Actions
						.links.Flexbox.mMinSpacing: block actions

			#Sidebar 

			main#Content.Flexbox.mCol.mStdSpacing: block content

			footer#Footer.Flexbox 
				.iAlignRight.Box Go back to the #[a(href="#top"): b top].