extends ../layout

block controlvars 
	- var actions = true;

block actions 
	a(href=`${note.slug}/edit`) Edit
	a(href=`${note.slug}/delete`) Delete

block content 
	div
		h1(lang="en")!= note.title
		
		- const date = new Date(note.published)
		- const dateOptions = { year: "numeric", month: "long", day: "numeric" }
		p.tGray= date.toLocaleString("en-gb", dateOptions)

	article!= note.renderContent()