extends ../layout

include ../mixins/comment.pug

append stylesheets 
	link(rel="stylesheet", href="/stylesheets/notes/detail.css")

append scripts 
	script(type="text/javascript", src="/javascripts/autosize.min.js", defer)
	script(type="text/javascript", src="/javascripts/notes/detail.js", defer)

block controlvars 
	- var actions = true;

block actions 
	a(href=`${note.slug}/edit`) Edit
	a(href=`${note.slug}/delete`) Delete

block content 
	div
		h1(lang="en").uBalanceText!= note.title
		
		- const date = new Date(note.published)
		- const dateOptions = { year: "numeric", month: "long", day: "numeric" }
		p.tGray= date.toLocaleString("en-gb", dateOptions)

	.Divider

	article!= note.renderContent()

	.Divider

	#Comments.Flexbox.mCol.mCmpSpacing
		if user
			form(action=`/notes/${note.slug}/comment/create`, method="post").Flexbox.mCol.mMinSpacing
				input(type="hidden", name="note", value=note._id)
				input(type="hidden", name="author", value=user._id)
				
				textarea(name="content", rows="3", required="true", placeholder=note.comments.length ? "Join the discussion." : "Start the discussion.")
				
				button(type="submit").iAlignRight Comment

		else 
			div
				p.tGray #[a(href=`/login?next=${note.url}#Comments`, style="font-size: 2.5em") Log in] &nbsp; or #[a(href=`/register?next=${note.url}#Comments`) Register]
				p.tGray= note.comments.length ? "To join the discussion." : "To start the discussion."

		if note.comments.length
			.Flexbox.mCol.mCmpSpacing
				for comment in note.comments 
					+Comment(comment)
